// #########################################################
//            COPY BOOTSTRAP VARIABLES YOU NEED TO OVERIDE INTO THIS FILE            
//              WE HAVE TWO OVERIDE FOR THE PRIMARY & SECONDARY COLORS
// #########################################################

$my-primary: #9926f0; //change the value of this color and save then look at the theming-kit.html (ideally on a web development server)
$my-secondary:#BB6EF5; //change the value of this color and save then look at the theming-kit.html (ideally on a web development server)
$pink: #d122e4;


$primary:       $my-primary; 
$secondary:    $pink; 

// accordion

$accordion-padding-y: 1.5rem;
$accordion-padding-x: 1.5rem;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-icon-width: 1.875rem;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
