// #########################################################
//            COPY BOOTSTRAP VARIABLES YOU NEED TO OVERIDE INTO THIS FILE            
//              WE HAVE TWO OVERIDE FOR THE PRIMARY & SECONDARY COLORS
// #########################################################

$my-primary: #9926f0; //change the value of this color and save then look at the theming-kit.html (ideally on a web development server)
$my-secondary:#BB6EF5; //change the value of this color and save then look at the theming-kit.html (ideally on a web development server)
$pink: #d122e4;


$primary:       $my-primary; 
$secondary:    $pink; 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
